<%= form_for @comment do |f| %>
  <% if @comment.errors.any? %>
    <% @comment.errors.full_messages.each do |message| %>
      <h4 class="alert-danger"><%= message %></h4>
    <% end %>
  <% end %>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <br>

  <div>
    <%= f.label :rating %>
    <%= f.select :rating, [*1..5], :prompt => 'Select' %>
  </div>
  <br>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :product_id %>
  <div><%= f.submit %></div>
<% end %>